.logo{
    height: 3.5rem;
    margin-left: 2rem;
}
.search{
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width:$db-smal ){
    order: 1;
    flex: 0 0 80%;
    margin-left: 5rem;
}
    &__input{
     color: inherit;
     font-size: inherit;
     font-weight: inherit;
     font-family: inherit;
     background-color: var(--color-grey-light-2);
     border: none;
     width: 90%;
     padding: .7rem 2rem;
     border-radius: 100px;
     -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
     -ms-border-radius: 100px;
     -o-border-radius: 100px;
     margin-right: -3rem;
     transition: all .2s;
     -webkit-transition: all .2s;
     -moz-transition: all .2s;
     -ms-transition: all .2s;
     -o-transition: all .2s;

     &:focus{
        outline: none;
        width: 100%;
        background-color: var(--color-grey-light-3);
     }
     &::-webkit-input-placeholder{
        font-weight: 100;
        color: var(--color-grey-light-4);
     }

    }
    
    &__button{
     border: none;
     transition: all .2s;
     -webkit-transition: all .2s;
     -moz-transition: all .2s;
     -ms-transition: all .2s;
     -o-transition: all .2s;

     &:focus{
        outline: none;

    }

     &:active{
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
        -ms-transform: translateY(2px);
        -o-transform: translateY(2px);
    }

    }

    &__icon{
        width: 2rem;
        height: 2rem;
        fill: var(--color-grey-dark-3);
    }

}
.user-nav{
   align-self: stretch;
   display: flex;
   align-items: center;

   & > * {
     padding: 0 2rem;
     cursor: pointer;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
    }

     & > *:hover{
     background-color: var(--color-grey-light-2);    
    }
    &__icon-box{
     position: relative;
    }
    &__icon-box::before{
        content: "";
        background-color:var(--color-primary);
        width: 100%;
        height: .3rem;
        position: absolute;
        bottom: 0;
        transform: scaleX(0);
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -ms-transform: scaleX(0);
        -o-transform: scaleX(0);
        transition: transform .2s;
        -webkit-transition: transform .2s;
        -moz-transition: transform .2s;
        -ms-transition: transform .2s;
        -o-transition: transform .2s;
}
    &__icon-box:hover::before{
        transform: scaleX(1);
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -o-transform: scaleX(1);
}

    &__icon{
        width: 2.5rem;
        height: 2.5rem;
        fill: var(--color-grey-dark-2);
    }
    &__not{
     font-size: .75rem;
     color: #fff;
     background-color: var(--color-primary) ;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     height: 1.75rem;
     width: 1.75rem;
     position: absolute;
     top: 1.3rem;
     right: 1.3rem;
     display: flex;
     align-items: center;
     justify-content: center;
    }

    &__user-photo{
        border-radius: 100%;
        height: 3.75rem;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
        margin-right: 1rem;
    }
}
.sidebar-nav{
   font-size: 1.4rem;
   list-style: none;
   margin-top: 3.5rem;
   @media only screen and (max-width:$db-meduin ){
    display: flex;
    margin: 0;
}

    &__item{
     position: relative;
     &:not(:last-child){
         margin-bottom: 2rem;
         @media only screen and (max-width:$db-meduin ){
          margin-bottom: 0;
          flex: 1;
        }
     }
    }
    &__item::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 3px;
       height: 100%;
       background-color: var(--color-primary);
       transform: scaleY(0);
       -webkit-transform: scaleY(0);
       -moz-transform: scaleY(0);
       -ms-transform: scaleY(0);
       -o-transform: scaleY(0);
       transition: transform .2s, width .4s cubic-bezier(.99,0,0,.68).2s;
       -webkit-transition: transform .2s, width .4s cubic-bezier(.99,0,0,.68).2s;
       -moz-transition: transform .2s, width .4s cubic-bezier(.99,0,0,.68).2s;
       -ms-transition: transform .2s, width .4s cubic-bezier(.99,0,0,.68).2s;
       -o-transition: transform .2s, width .4s cubic-bezier(.99,0,0,.68).2s;
}

       &__item:hover::before,
       &__item--active::before{
        width: 100%;
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: #fff;
        display: flex;
        align-items: center;
        padding: 1.2rem 2rem;
        z-index: 10;
        position: relative;
        @media only screen and (max-width:$db-meduin ){
          justify-content: center;
          align-items: center;
        }
    }

    &__icon{
     width: 1.75rem;
     height: 1.75rem;
     fill:currentColor;
     margin-right: 2rem;

    }
}
.legal-text{
  
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-grey-light-4);
    padding: 5rem;
    @media only screen and (max-width:$db-meduin ){
      display: none;
  }
}




.gallery{
  display: flex;
    &__photo{
      width: 100%;
      display: block;
    }
}

.overwiew{
  display: flex;
  border-bottom: 1px solid var(--color-grey-light-4);
  align-items: center;
  background-color: var(--color-grey-light-1);

    &__heading{
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;
      @media only screen and (max-width:$db-smal ){
        font-size: 1.4rem;
        padding: 1rem 2rem;
    }
    }
    &__stars{
     margin-right: auto;
     display: flex;
    }
    &__start,
    &__icon-start{
      width: 1.75rem;
      height: 1.75rem;
      fill: var(--color-primary);
      @media only screen and (max-width:$db-smal ){
        width: 1rem;
        height: 1rem;
    }
    }
    &__location{
        display: flex;
        text-align: center;
        margin-right: 2rem;
    }
    &__rating{
      background-color: var(--color-primary);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-self: stretch;
      text-align: center;
      justify-content: center;
      padding: 0 2rem;
      @media only screen and (max-width:$db-smal ){
        padding: 0 1rem;
    }
      

    }
    &__rating-average{
       font-size: 2.25rem;
       font-weight: 300;
       @media only screen and (max-width:$db-smal ){
        font-size: 1.4rem;
    }
    }
    &__rating-count{
       font-size: .8rem;
       text-transform: uppercase;
    }
}

.btn-inline{
    background-color: transparent;
    display: inline-block;
    border: none;
    font-size: inherit;
    color: var(--color-primary);
    border-bottom: 1px solid currentColor;
    cursor: pointer;
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
    padding-bottom: 2px;
    &:hover{
        color: var(--color-grey-dark-1);
        animation: btn 2s forwards;
        -webkit-animation: btn 2s infinite;
    }
}

@keyframes btn {
   0%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: none;
}
   50%{
     transform: scale(1.05);
     -webkit-transform: scale(1.05);
     -moz-transform: scale(1.05);
     -ms-transform: scale(1.05);
     -o-transform: scale(1.05);
     box-shadow: 0 2rem 3rem rgba($color: #000000, $alpha: .7);
}
   100%{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    box-shadow: none;
    }
}
.paragraf:not(:last-of-type){
 margin-bottom: 3rem;
}
.list{
 margin: 4rem 0;
 border-top: 1px solid var(--color-grey-light-4);
 border-bottom: 1px solid var(--color-grey-light-4);
 padding: 2rem 0;
 display: flex;
 list-style: none;
 flex-wrap: wrap;
 &__item{
    flex: 0 0 50%;
    margin-bottom: .3rem;
 }
 &__item::before{
   content: "";
   display: inline-block;
   height: 1rem;
   width: 1rem;
   margin-right: .7rem;
   background-color: var(--color-primary);
   -webkit-mask-image: url(../img/chevron-thin-right.svg);
   -webkit-mask-size: cover;

 }
}
.recomend{
   display: flex;
   align-items: center;
    &__count{ 
      margin-right: auto;
    }
    &__friends{
      display: flex;
    }
    &__photo{
        box-sizing: content-box;
        width: 5rem;
        height: 5rem;
        border:5px solid #fff;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        &:not(:last-child){
          margin-right: -2.5rem;
        }
    }
}
.review{
  margin-bottom: 4rem;
  padding: 3rem;
  box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .05);
  background-color: #fff;
  position: relative;
  overflow: hidden;
  @media only screen and (max-width:$db-small ){
    margin-bottom: 2rem;
}
    &__text{
      margin-bottom: 2rem;
      z-index: 20;
      position: relative;
    }
    &__user{
     display: flex;
     text-align: center;
     
    }
    &__photo{
      margin-right: 1rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    &__user-box{
      margin-right: auto;
    }
    &__user-name{
      font-size: 1.2rem;  
      font-weight: 600;
      text-transform: uppercase;
    }
    &__user-date{
      font-size: 1.2rem;  
      color: var(--color-grey-light-4);
      font-size: 1.3rem;
    }
    &__rating{
      font-size: 2.5rem;
      color: var(--color-primary);
    }
    &::before{
        content: "\201C";
        position: absolute;
        top: -2.75rem;
        left: -1rem;
        font-size: 20rem;
        color: var(--color-grey-light-4);
        z-index: 1;
        font-family: sans-serif;
        line-height: 1;

    }
}
.cta{
  margin: 2.5rem 0;
  text-align: center;

  @media only screen and (max-width:$db-meduin ){
    margin:1rem 0
  }
   
  &__book{
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2rem;

  }
}
.btn{
 border: none;
 font-weight: 300;
 text-transform: uppercase;
 background-image: linear-gradient(to right, var(--color-primary-light),var(--color-primary-dark));
 color: #fff;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
 -ms-border-radius: 100px;
 -o-border-radius: 100px;
 position: relative;
 overflow: hidden;



 &>*{
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all .2s;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
 }

 &__gizli{
  padding: 2rem 0;
  position: absolute;
  left: 0;
  top: -100%;
 }
  &:hover &__gizli{
    top: 0;
  }
 

 &__acık{
  padding: 2rem 7.5rem;
 }

  &:hover &__acık{
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
  }
  &:focus{
    outline: none;
    animation: btn 1s infinite;
    -webkit-animation: btn 1s infinite;
}

}